*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 3rem;
    color: black;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;

}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(248, 26, 92);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background:rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.about-section{
    background: url(./website/main.jpg)no-repeat left;
    background-size: cover;
    background-color: white;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 70%;
    float: right;
    background-color: wheat;
    padding: 100px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 50px;
}
/* .skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
} */


/* @media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        padding: 0px;
    }
    .inner-container{
        padding: 60px;
    }
} */
/* footer ko mathi */
.news{
    background-color: black;
    color: white;
    /* padding: 20% */
}

/* } */
.news p{
    margin: 0;
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding: 5px;
}
.fas{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;

}
